/*
* @Author: sahildua2305
* @Date:   2016-06-18 23:43:03
* @Last Modified by:   Sahil Dua
* @Last Modified time: 2016-06-19 00:11:26
*/

body {
    background: #fff;
    color: #312A1E;
    font-size: 100%;
}

::selection {
    background: #f0bf00;
    color: #333;
}

::-moz-selection {
    background: #f0bf00;
    color: #333;
}

ul,
ol {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'Patua One', cursive;
}

h1 {
    font-size: 1.5em;
    line-height: 1;
    margin-top: 1.42em;
    margin-bottom: 0em;
}

h2 {
    font-size: 1.3125em;
    line-height: 1.1429;
    margin-top: 1.1429em;
    margin-bottom: 0em;
}


/* Headwrap */

#headwrap {
    width: 100%;
    background: url(../img/bg.jpg) #0b333f no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 540px;
    z-index: 10000;
    margin-top: -60px;
    padding-top: 160px;
    text-align: center;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}

#headerwrap h1 {
    color: #FFFFFF;
    font-family: 'Patua One', cursive;
    font-size: 6em !important;
    font-weight: 100;
    margin: 0 0;
}

#headerwrap h2 {
    color: #FFFFFF;
    font-family: 'Open Sans', sans serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0.5em 0;
    text-shadow: 1px 1px 1px #333333;
}

#headerwrap h1 span {
    color: #f0bf00 !important;
}

#picture {
    height: 120px;
    width: 120px;
    margin-left: 30px;
    border-radius: 100%;
    margin-top: -60px;
    border: 3px solid #fff;
}


/* Social icons */

.icon img {
    width: 52px;
    height: 52px;
}

ul.icon {
    font-size: 54px;
    margin: 0.5em 0 0.5em 0;
}

ul.icon li {
    display: inline-block;
    opacity: 0.5;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

ul.icon li:hover {
    opacity: 1.0;
}